Repository dyc3/opentogethertube, pull requests merged in 2020-11, with the labels that each got.

#317 improved direct video
  roommanager.js
  src/components/DirectPlayer.vue
  src/components/OmniPlayer.vue
  src/store.js
  src/views/Room.vue
  tests/assets/Big_Buck_Bunny_360_10s_1MB.mp4
Labels: bug, client, server

#284 Service adapters
  api.js
  infoextract.js
  roommanager.js
  server/exceptions.js
  server/infoextractor.js
  server/mime.js
  server/serviceadapter.js
  server/services/dailymotion.js
  server/services/direct.js
  server/services/googledrive.js
  server/services/vimeo.js
  server/services/youtube.js
  tests/unit/server/api.spec.js
  tests/unit/server/infoextractor.spec.js
  tests/unit/server/roommanager.spec.js
  tests/unit/server/services/dailymotion.spec.js
  tests/unit/server/services/direct.spec.js
  tests/unit/server/services/googledrive.spec.js
  tests/unit/server/services/vimeo.spec.js
  tests/unit/server/services/youtube.spec.js
Labels: refactor, server

#327 more service adapter tests
  server/infoextractor.js
  server/services/youtube.js
  tests/unit/server/infoextractor.spec.js
  tests/unit/server/services/youtube.spec.js
Labels: server, service: youtube, tests

#316 disabled duplicates in the queue
  api.js
  roommanager.js
  src/components/VideoQueueItem.vue
Labels: bug, client, server

#329 more test coverage
  codecov.yml
  server/infoextractor.js
  storage.js
  tests/unit/client/ProcessedText.spec.js
  tests/unit/client/VideoQueueItem.spec.js
  tests/unit/server/infoextractor.spec.js
  tests/unit/server/storage.spec.js
Labels: tests
