Repository dyc3/opentogethertube, pull requests merged in 2024-01, with the labels that each got.

#1211 fix a new clippy lint
  crates/ott-balancer/src/service.rs
Labels: refactor

#1237 upgrade to vite 5
  client/package.json
  yarn.lock
Labels: dependencies

#1240 add docker-compose config that includes the balancer and is compatible with scaling
  deploy/ott-balancer-docker.toml
  docker/with-balancer.docker-compose.yml
Labels: balancer

#1242 server: improve error message when client is not present
  server/app.ts
Labels: server

#1241 client: fix typo on homepage
  client/index.html
  client/src/locales/de.ts
  client/src/locales/en.ts
  client/src/locales/fr.ts
  client/src/locales/pirate.ts
  client/src/locales/ru.ts
  client/src/views/Home.vue
Labels: i18n

#1254 refactor: some of the unit tests for the user api
  server/tests/unit/api/user.spec.ts
Labels: tests

#1263 client: Spanish Localization
  client/src/components/navbar/LocaleSelector.vue
  client/src/locales/es.ts
Labels: client, i18n

#1243 abstract balancing logic
  crates/ott-balancer/src/balancer.rs
  crates/ott-balancer/src/lib.rs
  crates/ott-balancer/src/selection.rs
Labels: balancer

#1273 client: switch to locally hosted fonts
  client/index.html
  client/src/App.vue
  client/src/assets/fonts/roboto-bold-cyrillic.woff2
  client/src/assets/fonts/roboto-bold.woff2
  client/src/assets/fonts/roboto-italic-cyrillic.woff2
  client/src/assets/fonts/roboto-italic.woff2
  client/src/assets/fonts/roboto-medium-regular-cyrillic.woff2
  client/src/assets/fonts/roboto-medium-regular.woff2
  client/src/assets/fonts/roboto-regular-cyrillic.woff2
  client/src/assets/fonts/roboto-regular.woff2
  client/src/fonts.scss
Labels: client

#1269 client: remove mentions of reddit source support from add preview UI
  client/src/components/AddPreview.vue
  client/src/locales/en.ts
  client/src/locales/es.ts
  client/src/locales/fr.ts
  client/src/locales/ru.ts
Labels: client
